.img-preview-card {
  /* background-color: #323242; */ 
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #909090;
  border-width: 1px;
  border-radius: 10px;
  width: 45%;
  padding: 15px;
  margin-top: 10px;
  color: #D9D9D9;
  font-weight: bold;
  font-size: 17px;
}

.item-drop {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  font-size: 14px;
}

.img-preview {
  border-style: solid;
  border-color: #909090;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 24px;
  width: 25vw !important;
}

